/*HEADING-HEADING-HEADING*/
div.logo {
    position:absolute;
    max-width:30%;
    max-height:40%;
    left:50%;
    overflow:visible;
	z-index: 11;
}
img.logologo {
    position:relative;
    max-width:100%;
    max-height:100%;
    margin-left:-50%;
	z-index: 11;}

.maingridcenter {
  display: grid;
  grid-template-columns: 1fr 1fr}

.mainsection {
  grid-column-start: 1; 
  grid-column-end: 2; 
  grid-row-start: 1; 
  grid-row-end: 3;
  
}
.mainaside {
  grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 1; 
  grid-row-end: 3; 

}
.maincontenedor{
  padding: 27px 0px 0 70px;
  /*width: 100%;*/
 display: inline-block;
}




/*DROPDOWN*/
.dropbtn {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  
}
.dropdown {
  position: relative;
  display: inline-block;
  left: 860%;
  
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: none;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: white;
  font-size: 12px;
  padding: 0px 0px;
  text-align:right;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {text-decoration: underline;}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {background-color: black;}



@media  (max-width: 800px) {
  img.logologo{ min-width:220px;}
  div.logo {max-width:100%; max-height:100%;left:40%;}
  .dropdown {left: 50%; z-index: 999}
  .maincontenedor{padding-top: 20px}}
	

@media (min-width: 800px) and (max-width: 1200px) {
	div.logo {
    max-width:100%;
    max-height:100%;
    left:50%;}
	.dropdown {left: 270%; z-index: 999}
	}




















img {
  vertical-align: middle; }



a:focus {
  outline: none; }

::-moz-selection {
  background: rgba(255,255,255,0.75);
  text-shadow: none;
  color: black; }

::selection {
  background: rgba(255,255,255,0.75);
  text-shadow: none;
  color: black; }

* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

body {
  background-color: black; /* ESTO CAMBIA EL COLOR */
  color:white;
  font-family: "Arial Narrow"; }

body, html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: bold;
  letter-spacing: 0.05rem;
  font-weight: normal;
  font-style: normal; }
  h1.empty, h2.empty, h3.empty, h4.empty, h5.empty {
    opacity: 0.3; }

h1, h2, h3 {
  font-weight: normal;
  font-style: normal; }

h1 {
  font-size: 48px;
  line-height: 41px; }

h2 {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase; }

h3 {
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase; }

h4 {
  font-size: 20px;
  line-height: 24px; }

h5 {
  font-size: 17px;
  line-height: 20px; }

p {
  font-size: 15px;
  line-height: 19px;
  margin: 0;
  margin-bottom: 20px;
  letter-spacing: -0.01rem; }
  p a {
    color: black;
    text-decoration: none;
    position: relative;
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 1px), black 1px);
    background-repeat: no-repeat;
    background-size: 100% 100%; } }
  p em {
    font-style: italic; }
  p strong {
    font-style: bold; }



.c-scroll::-webkit-scrollbar {
  width: 6px; }

.c-scroll::-webkit-scrollbar:horizontal {
  height: 6px; }

.c-scroll::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: white; }

.c-scroll::-webkit-scrollbar-thumb:window-inactive {
  background-color: white; }

.c-scroll::-webkit-scrollbar-corner {
  background: rgba(255, 255, 255, 0);
  width: 3px;
  height: 3px; }

.c-scroll::-webkit-scrollbar-button {
  background-color: black; }

.container {
  width: 100%;
  padding: 30px; }

.js-return-to-map {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5000;
  -webkit-transition: bottom 0.5s ease;
  -moz-transition: bottom 0.5s ease;
  -ms-transition: bottom 0.5s ease;
  -o-transition: bottom 0.5s ease;
  transition: bottom 0.5s ease; }
  .js-return-to-map:hover {
    cursor: pointer; }


.fancybox-button {
  background: transparent; }
  .fancybox-button.arrow-right {
    top: calc(50% - 25px);
    right: 10px; }
  .fancybox-button.arrow-left {
    top: calc(50% - 25px);
    left: 10px; }
  .fancybox-button .arrow .head {
    border-color: red;
    border-width: 0 3px 3px 0;
    width: 21px;
    height: 21px;
    top: 15px; }
  .fancybox-button--close {
    position: fixed;
    right: 10px;
    top: 10px; }
    .fancybox-button--close:hover .cross span.line {
      border-bottom-color: red; }
  .fancybox-button .cross {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 7px;
    right: 7px; }
    .fancybox-button .cross span.line {
      position: absolute;
      top: 13px;
      left: 0;
      border-bottom: 3px solid white;
      width: 30px; }
      .fancybox-button .cross span.line:first-of-type {
        transform: rotate(45deg); }
      .fancybox-button .cross span.line:last-of-type {
        transform: rotate(-45deg); }

.book-page .book-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black; /* ESTO CAMBIA EL COLOR */
  width: 100%;
  -webkit-transition: top 0.5s ease;
  -moz-transition: top 0.5s ease;
  -ms-transition: top 0.5s ease;
  -o-transition: to.p 0.5s ease;
  transition: top 0.5s ease; }
  .book-page .book-container > .inner {padding-top: 100px;
    -webkit-overflow-scrolling: touch;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -moz-box;
    /* MOZILLA */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: row;
    max-width: 1800px;
    margin: 0 auto;
    position: relative;
    height: 100%; }

.book-page .c { 
  overflow-y: auto; }
  .book-page .c.book-previews { 
    -webkit-overflow-scrolling: touch;
    width: 26%;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -moz-box;
    /* MOZILLA */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 20px 5px; }
    .book-page .c.book-previews .prev-in {
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -moz-box;
      /* MOZILLA */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      /* NEW, Spec - Firefox, Chrome, Opera */
      width: 100%;
      max-width: 250px;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      padding-bottom: 30px; }
      .book-page .c.book-previews .prev-in.spreads {
        flex-direction: row;
        flex-wrap: wrap; }
        .book-page .c.book-previews .prev-in.spreads .primg {
          width: 50%; }
          .book-page .c.book-previews .prev-in.spreads .primg:first-of-type {
            margin-left: 50%; }
          .book-page .c.book-previews .prev-in.spreads .primg:nth-child(even) {
            border-right: 1px solid transparent; }
          .book-page .c.book-previews .prev-in.spreads .primg:nth-child(odd) {
            width: calc(50% - 1px) !important; }
        .book-page .c.book-previews .prev-in.spreads.odd .primg:last-of-type {
          margin-bottom: 30px; }
        .book-page .c.book-previews .prev-in.spreads.odd .primg:nth-last-child(2) {
          margin-bottom: 30px; }
        .book-page .c.book-previews .prev-in.spreads.even .primg:last-of-type {
          margin-bottom: 30px; }
      .book-page .c.book-previews .prev-in.pages {
        flex-direction: column; }
        .book-page .c.book-previews .prev-in.pages .primg {
          width: 100%; }
          .book-page .c.book-previews .prev-in.pages .primg:last-of-type {
            margin-bottom: 30px; }
      .book-page .c.book-previews .prev-in .primg {
        position: relative;
        align-self: flex-end;
        margin-bottom: 6px;
        max-width: 125px;
        filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.2));
        border-bottom: 2px solid transparent; }
        .book-page .c.book-previews .prev-in .primg img {
          width: 100%; }
      
        .book-page .c.book-previews .prev-in .primg:after {
          content: "";
          background-color: grey;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0; }
        .book-page .c.book-previews .prev-in .primg:hover {
          cursor: pointer; }
          .book-page .c.book-previews .prev-in .primg:hover:after {
            opacity: 0.2; }
  .book-page .c.book-image {
    width: 40%;
    position: relative; }
    .book-page .c.book-image .book-gallery {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0 20px 60px; } /*TOP PADDING CENTRO  */
      .book-page .c.book-image .book-gallery .slick-list, .book-page .c.book-image .book-gallery .slick-track {
        height: 100%; }
      .book-page .c.book-image .book-gallery .b-img {
        text-align: center; }
        .book-page .c.book-image .book-gallery .b-img img {
          max-width: calc(100% - 10px);
          max-height: calc(100% - 5px);
          margin: auto;
          filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.2)); }
  .book-page .c.book-info {
    width: 15.5%;
    padding: 0 12px 60px; }

.book-page blockquote {
  margin: 20px 0;
  padding-left: 20px;
  border-left: 2px solid black; }

.book-page .book-info h2 {
  margin-bottom: 25px; }

.book-page .book-details h5 {
  font-family: DINCondensed-Regular, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  display: inline; }
  .book-page .book-details h5.library_link {
    display: block;
    margin: 13px 0 30px;
    position: relative; }
    .book-page .book-details h5.library_link a {
      text-decoration: none;
      color: black;
      box-shadow: inset 0px 14px white, 0px 2px black; }
      .book-page .book-details h5.library_link a:hover {
        color: pink; }

.book-page .book-details p {
  margin-bottom: 0;
  display: inline; }

.book-page .book-details span.cog {
  padding: 7px;
  font-size: 13px;
  opacity: 0.1;
  position: relative;
  display: inline; }
  .book-page .book-details span.cog:hover {
    opacity: 0.5;
    cursor: pointer; }

@-moz-document url-prefix() {
  .prev-in.spreads .primg:nth-last-child(1), .prev-in.spreads .primg:nth-last-child(2) {
    padding-bottom: 60px; }
    .prev-in.spreads .primg:nth-last-child(1):after, .prev-in.spreads .primg:nth-last-child(2):after {
      bottom: 60px !important; }
  .prev-in.pages .primg:nth-last-child(1) {
    padding-bottom: 60px; }
    .prev-in.pages .primg:nth-last-child(1):after {
      bottom: 60px !important; }
  .book-details {
    padding-bottom: 30px; }
  select.variant-selector {
    border-width: 2px 5px 1px 0; }
  .events-inner, .main-images, .recent-publications, .price-box, .main-text.main-column {
    padding-bottom: 30px; }
  .filter-list .option input[type="radio"] {
    visibility: visible;
    position: relative;
    -moz-appearance: none; }
    .filter-list .option input[type="radio"]:before {
      left: -3px;
      top: 1px !important; }
  .filter-list .option span.cross {
    position: relative;
    left: 0px !important;
    top: -1px !important; } }

@media only screen and (max-width: 1024px) {
  header .functions {
    bottom: -50px;
    width: calc(100% - 55px);
    position: absolute;
    left: 30px;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -moz-box;
    /* MOZILLA */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: row;
    justify-content: space-between; }
    header .functions .func {
      width: calc(25% - 50px); }
      header .functions .func.search-function {
        border-bottom: 2px solid black; }
  .books-page .books {
    margin-top: 0;
    padding-top: 20px; }
    .books-page .books.filter-open {
      padding-right: 25%; }
      .books-page .books.filter-open .book {
        width: calc(33.33% - 50px); }
    .books-page .books .book {
      width: calc(25% - 50px);
      margin: 25px; }
      .books-page .books .book .preview-img {
        height: 26vw; }
  .book-page .book-container > .inner .book-previews {
    padding-left: 0; } }



@media only screen and (max-width: 880px) {
  .books-page header .functions .func {
    width: calc(33.33% - 40px); }
  .books-page .books.filter-open {
    padding-right: 33.33%; }
    .books-page .books.filter-open .book {
      width: calc(50% - 40px); }
  .books-page .books .book {
    width: calc(33.33% - 40px);
    margin: 20px; }
    .books-page .books .book .preview-img {
      height: 36vw; }
  .book-page .book-container > .inner {
    flex-wrap: wrap;
    overflow: auto; }
    .book-page .book-container > .inner .c.book-previews {
      width: 100%;
      justify-content: flex-start;
      overflow-x: auto;
      margin-bottom: 30px;
      padding-bottom: 20px;
      padding-right: 0;
      margin-right: 15px; }
      .book-page .book-container > .inner .c.book-previews .prev-in {
        max-width: 100%;
        min-width: -moz-max-content;
        min-width: -webkit-max-content;
        display: -ms-inline-grid;
        -ms-grid-columns: max-content;
        min-width: max-content; }
        .book-page .book-container > .inner .c.book-previews .prev-in.spreads {
          flex-wrap: nowrap; }
          .book-page .book-container > .inner .c.book-previews .prev-in.spreads .primg:first-of-type {
            margin-left: 0; }
          .book-page .book-container > .inner .c.book-previews .prev-in.spreads .primg:nth-child(odd) {
            margin-right: 10px; }
          .book-page .book-container > .inner .c.book-previews .prev-in.spreads .primg:nth-child(even) {
            margin-left: 10px; }
        .book-page .book-container > .inner .c.book-previews .prev-in.pages {
          flex-direction: row; }
          .book-page .book-container > .inner .c.book-previews .prev-in.pages .primg {
            margin-right: 20px; }
        .book-page .book-container > .inner .c.book-previews .prev-in .primg {
          margin-bottom: 0 !important; }
    .book-page .book-container > .inner .c.book-previews {
      margin-right: 5px; }
    .book-page .book-container > .inner .c.book-image {
      width: 50%; }
      .book-page .book-container > .inner .c.book-image .book-gallery {
        padding: 0 20px 30px 0; }
    .book-page .book-container > .inner .c.book-info {
      width: 50%; }

@media only screen and (max-width: 800px) {
  .books-page .MarkupPagerNav {
    min-height: 90px; }
    .books-page .MarkupPagerNav .MarkupPagerNavPrevious {
      position: absolute;
      left: 0;
      bottom: 0; }
    .books-page .MarkupPagerNav .MarkupPagerNavNext {
      position: absolute;
      right: 0;
      bottom: 0; } }

@media only screen and (max-width: 630px) {
  .books-page header .functions {
    left: 20px;
    width: calc(100% - 40px); }
    .books-page header .functions .func {
      width: calc(50% - 40px); }
  .books-page .books.filter-open {
    padding-right: 50%; }
    .books-page .books.filter-open .book {
      width: calc(100% - 40px); }
  .books-page .books .book {
    width: calc(50% - 40px);
    margin: 20px; }
    .books-page .books .book .preview-img {
      height: 55vw; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  /*visibility: hidden;*/ }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

