/*HEADING-HEADING-HEADING*/
div.logo {
    position:absolute;
    max-width:30%;
    max-height:40%;
    left:50%;
    overflow:visible;
	z-index: 11;
}
img.logologo {
    position:relative;
    max-width:100%;
    max-height:100%;
    margin-left:-50%;
	z-index: 11;}

.maingridcenter {
  display: grid;
  grid-template-columns: 1fr 1fr;padding-bottom: 100px;}

.mainsection {
  grid-column-start: 1; 
  grid-column-end: 2; 
  grid-row-start: 1; 
  grid-row-end: 3;
  
}
.mainaside {
  grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 1; 
  grid-row-end: 3; 

}
.maincontenedor{
  padding: 27px 0px 0 70px;
  /*width: 100%;*/
 display: inline-block;
}




/*DROPDOWN*/
.dropbtn {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  
}
.dropdown {
  position: relative;
  display: inline-block;
  left: 860%;
  
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: none;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 0px 0px;
  text-align:right;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {text-decoration: underline;}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {background-color: black;}



@media  (max-width: 800px) {
  img.logologo{ min-width:220px;}
  div.logo {max-width:100%; max-height:100%;left:40%;}
  .dropdown {left: 50%; z-index: 999}
  .maincontenedor{padding-top: 20px}}
	

@media (min-width: 800px) and (max-width: 1200px) {
	div.logo {
    max-width:100%;
    max-height:100%;
    left:50%;}
	.dropdown {left: 270%; z-index: 999}
	}




















img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }


a:focus {
  outline: none; }

::-moz-selection {
  background: rgba(234, 173, 0, 0.75);
  text-shadow: none;
  color: black; }

::selection {
  background: rgba(234, 173, 0, 0.75);
  text-shadow: none;
  color: black; }

* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

body {
  background-color: black; /* ESTO CAMBIA EL COLOR */
  color:white;
  font-family: "Arial Narrow"; }

body, html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: bold;
  letter-spacing: 0.05rem;
  font-weight: normal;
  font-style: normal; }
  h1.empty, h2.empty, h3.empty, h4.empty, h5.empty {
    opacity: 0.3; }

h1, h2, h3 {
  font-weight: normal;
  font-style: normal; }

h1 {
  font-size: 48px;
  line-height: 41px; }

h2 {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase; }

h3 {
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase; }

h4 {
  font-size: 20px;
  line-height: 24px; }

h5 {
  font-size: 17px;
  line-height: 20px; }

p {
  font-size: 15px;
  line-height: 19px;
  margin: 0;
  margin-bottom: 20px;
  letter-spacing: -0.01rem; }
  p a {
    color: black;
    text-decoration: none;
    position: relative;
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 1px), black 1px);
    background-repeat: no-repeat;
    background-size: 100% 100%; }
    p a:hover {
      color: #F2BF29; }
  p em {
    font-style: italic; }
  p strong {
    font-style: bold; }

.admin.edit {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #000;
  color: #fff;
  height: 30px;
  padding: 0 10px;
  padding-top: 5px;
  z-index: 4000; }

.admin.edit:hover, .admin.edit:hover a {
  color: #000;
  cursor: pointer; }

.admin.edit a {
  height: 50px; }

.admin.edit.page {
  z-index: 5000; }

.c-scroll::-webkit-scrollbar {
  width: 6px; }

.c-scroll::-webkit-scrollbar:horizontal {
  height: 6px; }

.c-scroll::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: white; }

.c-scroll::-webkit-scrollbar-thumb:window-inactive {
  background-color: white; }

.c-scroll::-webkit-scrollbar-corner {
  background: rgba(255, 255, 255, 0);
  width: 3px;
  height: 3px; }

.c-scroll::-webkit-scrollbar-button {
  background-color: black; }

.container {
  width: 100%;
  padding: 30px; }

.js-return-to-map {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5000;
  -webkit-transition: bottom 0.5s ease;
  -moz-transition: bottom 0.5s ease;
  -ms-transition: bottom 0.5s ease;
  -o-transition: bottom 0.5s ease;
  transition: bottom 0.5s ease; }
  .js-return-to-map:hover {
    cursor: pointer; }





.lib_book-page .libbook-container {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: blueviolet;
  width: 90%;
  border-top: 3px solid black;
  -webkit-transition: top 0.5s ease;
  -moz-transition: top 0.5s ease;
  -ms-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  transition: top 0.5s ease; }
  .lib_book-page .libbook-container .bg-right {
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    z-index: 1; }
  .lib_book-page .libbook-container .lib-inner {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -moz-box;
    /* MOZILLA */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    z-index: 2000;
    position: relative; }
    .lib_book-page .libbook-container .lib-inner .book_link {
      width: 25%;
      padding: 30px;
      padding-bottom: 60px;
      overflow-y: auto;
      margin-right: 4px;
      margin-bottom: 4px;
      position: relative; }
      .lib_book-page .libbook-container .lib-inner .book_link .js-toggle-info {
        display: none;
        position: absolute;
        right: 30px;
        top: 30px;
        height: 30px;
        width: 30px; }
        .lib_book-page .libbook-container .lib-inner .book_link .js-toggle-info .arrow-wrapper {
          width: 30px;
          height: 30px; }
          .lib_book-page .libbook-container .lib-inner .book_link .js-toggle-info .arrow-wrapper .arrow {
            width: 30px;
            height: 30px; }
            .lib_book-page .libbook-container .lib-inner .book_link .js-toggle-info .arrow-wrapper .arrow .head {
              width: 21px;
              height: 21px;
              top: -2.5px;
              left: 5px;
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg); }
              .lib_book-page .libbook-container .lib-inner .book_link .js-toggle-info .arrow-wrapper .arrow .head.active {
                transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
                top: 8.5px; }
      .lib_book-page .libbook-container .lib-inner .book_link .book {
        text-decoration: none;
        color: black;
        display: block;
        text-align: center; }
        .lib_book-page .libbook-container .lib-inner .book_link .book .preview-img {
          height: 20vw;
          max-height: 320px;
          margin-bottom: 15px; }
          .lib_book-page .libbook-container .lib-inner .book_link .book .preview-img.no-image {
            position: relative; }
            .lib_book-page .libbook-container .lib-inner .book_link .book .preview-img.no-image:after {
              content: 'no image\A available';
              white-space: pre;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              font-family: DINCondensed-Regular, Helvetica, Arial, sans-serif;
              font-weight: normal;
              font-style: normal;
              font-size: 20px;
              line-height: 21px;
              letter-spacing: 0.03rem;
              display: -webkit-box;
              /* OLD - iOS 6-, Safari 3.1-6, BB7 */
              display: -ms-flexbox;
              /* TWEENER - IE 10 */
              display: -moz-box;
              /* MOZILLA */
              display: -webkit-flex;
              /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
              display: flex;
              /* NEW, Spec - Firefox, Chrome, Opera */
              flex-direction: column;
              align-items: center;
              justify-content: center;
              text-align: center;
              text-transform: uppercase;
              opacity: 0.4; }
          .lib_book-page .libbook-container .lib-inner .book_link .book .preview-img img.preview {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: bottom;
            filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.2)); }
            .lib_book-page .libbook-container .lib-inner .book_link .book .preview-img img.preview.empty {
              background-color: darkblue;
              width: 80%; }
        .lib_book-page .libbook-container .lib-inner .book_link .book .text {
          text-align: center; }
          .lib_book-page .libbook-container .lib-inner .book_link .book .text .title {
            text-transform: uppercase;
            line-height: 21px;
            font-family: DINCondensed-Regular, Helvetica, Arial, sans-serif;
            font-weight: normal;
            font-style: normal; }
        .lib_book-page .libbook-container .lib-inner .book_link .book:hover .title {
          color: #F2BF29; }
      .lib_book-page .libbook-container .lib-inner .book_link .excerpt {
        text-align: left;
        width: 100%; }
      .lib_book-page .libbook-container .lib-inner .book_link .psbutton {
        border: 2px solid black;
        text-decoration: none;
        color: black;
        background-color: darkblue;
        padding: 3px 4px 0;
        display: inline-block;
        margin: 0 10px 5px 0; }
        .lib_book-page .libbook-container .lib-inner .book_link .psbutton:hover {
          color: #F2BF29; }
        .lib_book-page .libbook-container .lib-inner .book_link .psbutton .title {
          display: inline;
          text-transform: uppercase;
          line-height: 21px;
          font-family: DINCondensed-Regular, Helvetica, Arial, sans-serif;
          font-weight: normal;
          font-style: normal; }
    .lib_book-page .libbook-container .lib-inner .issuu_book {
      background-color: black;
      width: 75%;
      height: calc(100% + 30px); }
      .lib_book-page .libbook-container .lib-inner .issuu_book > div {
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -moz-box;
        /* MOZILLA */
        display: -webkit-flex;
        /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;
        /* NEW, Spec - Firefox, Chrome, Opera */ }

.fancybox-button {
  background: transparent; }
  .fancybox-button.arrow-right {
    top: calc(50% - 25px);
    right: 10px; }
  .fancybox-button.arrow-left {
    top: calc(50% - 25px);
    left: 10px; }
  .fancybox-button .arrow .head {
    border-color: white;
    border-width: 0 3px 3px 0;
    width: 21px;
    height: 21px;
    top: 15px; }
  .fancybox-button--close {
    position: fixed;
    right: 10px;
    top: 10px; }
    .fancybox-button--close:hover .cross span.line {
      border-bottom-color: #F2BF29; }
  .fancybox-button .cross {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 7px;
    right: 7px; }
    .fancybox-button .cross span.line {
      position: absolute;
      top: 13px;
      left: 0;
      border-bottom: 3px solid white;
      width: 30px; }
      .fancybox-button .cross span.line:first-of-type {
        transform: rotate(45deg); }
      .fancybox-button .cross span.line:last-of-type {
        transform: rotate(-45deg); }

.book-page .book-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black; /* ESTO CAMBIA EL COLOR */
  width: 100%;
  -webkit-transition: top 0.5s ease;
  -moz-transition: top 0.5s ease;
  -ms-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  transition: top 0.5s ease; }
  .book-page .book-container > .inner {
    -webkit-overflow-scrolling: touch;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -moz-box;
    /* MOZILLA */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: row;
    max-width: 1800px;
    margin: 0 auto;
    position: relative;
    height: 100%; }

.book-page .c {
  overflow-y: auto; }
  .book-page .c.book-previews {
    -webkit-overflow-scrolling: touch;
    width: 21%;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -moz-box;
    /* MOZILLA */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 20px 5px; }
    .book-page .c.book-previews .prev-in {
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -moz-box;
      /* MOZILLA */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      /* NEW, Spec - Firefox, Chrome, Opera */
      width: 100%;
      max-width: 250px;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      padding-bottom: 30px; }
      .book-page .c.book-previews .prev-in.spreads {
        flex-direction: row;
        flex-wrap: wrap; }
        .book-page .c.book-previews .prev-in.spreads .primg {
          width: 50%; }
          .book-page .c.book-previews .prev-in.spreads .primg:first-of-type {
            margin-left: 50%; }
          .book-page .c.book-previews .prev-in.spreads .primg:nth-child(even) {
            border-right: 1px solid transparent; }
          .book-page .c.book-previews .prev-in.spreads .primg:nth-child(odd) {
            width: calc(50% - 1px) !important; }
        .book-page .c.book-previews .prev-in.spreads.odd .primg:last-of-type {
          margin-bottom: 30px; }
        .book-page .c.book-previews .prev-in.spreads.odd .primg:nth-last-child(2) {
          margin-bottom: 30px; }
        .book-page .c.book-previews .prev-in.spreads.even .primg:last-of-type {
          margin-bottom: 30px; }
      .book-page .c.book-previews .prev-in.pages {
        flex-direction: column; }
        .book-page .c.book-previews .prev-in.pages .primg {
          width: 100%; }
          .book-page .c.book-previews .prev-in.pages .primg:last-of-type {
            margin-bottom: 30px; }
      .book-page .c.book-previews .prev-in .primg {
        position: relative;
        align-self: flex-end;
        margin-bottom: 20px;
        max-width: 125px;
        filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.2));
        border-bottom: 2px solid transparent; }
        .book-page .c.book-previews .prev-in .primg img {
          width: 100%; }
      
        .book-page .c.book-previews .prev-in .primg:after {
          content: "";
          background-color: grey;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0; }
        .book-page .c.book-previews .prev-in .primg:hover {
          cursor: pointer; }
          .book-page .c.book-previews .prev-in .primg:hover:after {
            opacity: 0.2; }
  .book-page .c.book-image {
    width: 40%;
    position: relative; }
    .book-page .c.book-image .book-gallery {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0 20px 60px; }
      .book-page .c.book-image .book-gallery .slick-list, .book-page .c.book-image .book-gallery .slick-track {
        height: 100%; }
      .book-page .c.book-image .book-gallery .b-img {
        text-align: center; }
        .book-page .c.book-image .book-gallery .b-img img {
          max-width: calc(100% - 10px);
          max-height: calc(100% - 5px);
          margin: auto;
          filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.2)); }
  .book-page .c.book-info {
    width: 30%;
    padding: 0 15px 60px; }

.book-page blockquote {
  margin: 20px 0;
  padding-left: 20px;
  border-left: 2px solid black; }

.book-page .book-info h2 {
  margin-bottom: 25px; }

.book-page .book-details h5 {
  font-family: DINCondensed-Regular, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  display: inline; }
  .book-page .book-details h5.library_link {
    display: block;
    margin: 13px 0 30px;
    position: relative; }
    .book-page .book-details h5.library_link a {
      text-decoration: none;
      color: black;
      box-shadow: inset 0px 14px white, 0px 2px black; }
      .book-page .book-details h5.library_link a:hover {
        color: #F2BF29; }

.book-page .book-details p {
  margin-bottom: 0;
  display: inline; }

.book-page .book-details span.cog {
  padding: 7px;
  font-size: 13px;
  opacity: 0.1;
  position: relative;
  display: inline; }
  .book-page .book-details span.cog:hover {
    opacity: 0.5;
    cursor: pointer; }

.activity-page .paging {
  max-width: 1440px;
  margin: 0 auto 15px; }

.activity-page .MarkupPagerNav {
  padding: 0;
  margin: 0 30px;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  position: relative;
  font-family: DINCondensed-Regular, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -moz-box;
  /* MOZILLA */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  width: calc(100% - 60px); }
  .activity-page .MarkupPagerNav span.arrow {
    font-size: 14px;
    position: relative;
    top: -2px; }
  .activity-page .MarkupPagerNav .list-item {
    flex: 0 1 auto;
    margin: 0 3px;
    padding: 0 4px;
    min-width: 10px;
    text-align: center; }
    .activity-page .MarkupPagerNav .list-item:first-of-type {
      margin-left: 0; }
    .activity-page .MarkupPagerNav .list-item:last-of-type {
      margin-right: 0; }
    .activity-page .MarkupPagerNav .list-item a {
      color: black;
      text-decoration: none;
      letter-spacing: 0.03rem; }
      .activity-page .MarkupPagerNav .list-item a:after, .activity-page .MarkupPagerNav .list-item a:before {
        background-position: 0 0;
        background-size: 8px 3px;
        height: 3px;
        background-repeat: repeat-x;
        content: '';
        display: block;
        position: relative; }
      .activity-page .MarkupPagerNav .list-item a:after {
        border-top: 2px solid transparent;
        bottom: 2px; }
      .activity-page .MarkupPagerNav .list-item a:before {
        border-bottom: 2px solid transparent;
        bottom: 3px; }
      .activity-page .MarkupPagerNav .list-item a:hover:after {
        border-color: black; }
      .activity-page .MarkupPagerNav .list-item a:hover:before {
        border-color: black; }
    .activity-page .MarkupPagerNav .list-item.active a:after, .activity-page .MarkupPagerNav .list-item.active a:before {
      border-color: black; }
    .activity-page .MarkupPagerNav .list-item.MarkupPagerNavNext, .activity-page .MarkupPagerNav .list-item.MarkupPagerNavPrevious {
      position: absolute; }
      .activity-page .MarkupPagerNav .list-item.MarkupPagerNavNext a:before, .activity-page .MarkupPagerNav .list-item.MarkupPagerNavPrevious a:before {
        bottom: 0; }
      .activity-page .MarkupPagerNav .list-item.MarkupPagerNavNext a:after, .activity-page .MarkupPagerNav .list-item.MarkupPagerNavPrevious a:after {
        bottom: 5px; }
      .activity-page .MarkupPagerNav .list-item.MarkupPagerNavNext a:hover:after, .activity-page .MarkupPagerNav .list-item.MarkupPagerNavPrevious a:hover:after {
        border-color: transparent; }
      .activity-page .MarkupPagerNav .list-item.MarkupPagerNavNext a:hover:before, .activity-page .MarkupPagerNav .list-item.MarkupPagerNavPrevious a:hover:before {
        border-color: transparent; }
    .activity-page .MarkupPagerNav .list-item.MarkupPagerNavPrevious {
      left: 0; }
      .activity-page .MarkupPagerNav .list-item.MarkupPagerNavPrevious a:before, .activity-page .MarkupPagerNav .list-item.MarkupPagerNavPrevious a:after {
        background-position: 3px 0; }
    .activity-page .MarkupPagerNav .list-item.MarkupPagerNavNext {
      right: 0; }
      .activity-page .MarkupPagerNav .list-item.MarkupPagerNavNext a:before, .activity-page .MarkupPagerNav .list-item.MarkupPagerNavNext a:after {
        background-position: 2px 0; }

.activity-page .activity-container {
  max-width: 1440px;
  margin: 0 auto;
  -webkit-transition: top 0.5s ease;
  -moz-transition: top 0.5s ease;
  -ms-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  transition: top 0.5s ease; }
  .activity-page .activity-container .instagram {
    position: relative; }
    .activity-page .activity-container .instagram .loadmore {
      position: absolute;
      bottom: -15px;
      width: 100%;
      left: 0;
      text-align: center; }
      .activity-page .activity-container .instagram .loadmore h4 {
        text-transform: uppercase;
        color: black !important; }
        .activity-page .activity-container .instagram .loadmore h4:after {
          content: '.';
          display: inline;
          clear: both;
          animation: dots 1s steps(5, end) infinite; }


@-moz-document url-prefix() {
  .prev-in.spreads .primg:nth-last-child(1), .prev-in.spreads .primg:nth-last-child(2) {
    padding-bottom: 60px; }
    .prev-in.spreads .primg:nth-last-child(1):after, .prev-in.spreads .primg:nth-last-child(2):after {
      bottom: 60px !important; }
  .prev-in.pages .primg:nth-last-child(1) {
    padding-bottom: 60px; }
    .prev-in.pages .primg:nth-last-child(1):after {
      bottom: 60px !important; }
  .book-details {
    padding-bottom: 30px; }
  .lib_wrapper {
    padding-bottom: 30px; }
  .former-studios {
    margin-bottom: 60px; }
  .about-page .column.main .text {
    padding-bottom: 30px !important; }
  .about-page .former-studios {
    padding-bottom: 30px; }
  select.variant-selector {
    border-width: 2px 5px 1px 0; }
  .events-inner, .main-images, .recent-publications, .price-box, .main-text.main-column {
    padding-bottom: 30px; }
  .filter-list .option input[type="radio"] {
    visibility: visible;
    position: relative;
    -moz-appearance: none; }
    .filter-list .option input[type="radio"]:before {
      left: -3px;
      top: 1px !important; }
  .filter-list .option span.cross {
    position: relative;
    left: 0px !important;
    top: -1px !important; } }

@media only screen and (max-width: 1024px) {
  header .functions {
    bottom: -50px;
    width: calc(100% - 55px);
    position: absolute;
    left: 30px;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -moz-box;
    /* MOZILLA */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: row;
    justify-content: space-between; }
    header .functions .func {
      width: calc(25% - 50px); }
      header .functions .func.search-function {
        border-bottom: 2px solid black; }
  .books-page .books {
    margin-top: 0;
    padding-top: 20px; }
    .books-page .books.filter-open {
      padding-right: 25%; }
      .books-page .books.filter-open .book {
        width: calc(33.33% - 50px); }
    .books-page .books .book {
      width: calc(25% - 50px);
      margin: 25px; }
      .books-page .books .book .preview-img {
        height: 26vw; }
  .studio-page .studio-container > .inner .column.recent-work .recent-publications .book .preview-img img.preview, .studios-page .studio-container > .inner .column.recent-work .recent-publications .book .preview-img img.preview {
    max-width: 90%; }
  .book-page .book-container > .inner .book-previews {
    padding-left: 0; } }

@media only screen and (max-width: 960px) {
  .lib_book-page .libbook-container .lib-inner .book_link {
    width: 35%; }
  .lib_book-page .libbook-container .lib-inner .issuu_book {
    width: 65%; }
  .studios-page .infoBox .info-inner .splash-img-preview {
    height: 28vw; } }

@media only screen and (max-width: 880px) {
  .activity-page .activity-container .instagram a.instagram-item.narrow {
    width: 40%; }
  .activity-page .activity-container .instagram a.instagram-item.regular {
    width: 40%; }
  .activity-page .activity-container .instagram a.instagram-item.wide {
    width: 60%; }
  .books-page header .functions .func {
    width: calc(33.33% - 40px); }
  .books-page .books.filter-open {
    padding-right: 33.33%; }
    .books-page .books.filter-open .book {
      width: calc(50% - 40px); }
  .books-page .books .book {
    width: calc(33.33% - 40px);
    margin: 20px; }
    .books-page .books .book .preview-img {
      height: 36vw; }
  .book-page .book-container > .inner {
    flex-wrap: wrap;
    overflow: auto; }
    .book-page .book-container > .inner .c.book-previews {
      width: 100%;
      justify-content: flex-start;
      overflow-x: auto;
      margin-bottom: 30px;
      padding-bottom: 20px;
      padding-right: 0;
      margin-right: 15px; }
      .book-page .book-container > .inner .c.book-previews .prev-in {
        max-width: 100%;
        min-width: -moz-max-content;
        min-width: -webkit-max-content;
        display: -ms-inline-grid;
        -ms-grid-columns: max-content;
        min-width: max-content; }
        .book-page .book-container > .inner .c.book-previews .prev-in.spreads {
          flex-wrap: nowrap; }
          .book-page .book-container > .inner .c.book-previews .prev-in.spreads .primg:first-of-type {
            margin-left: 0; }
          .book-page .book-container > .inner .c.book-previews .prev-in.spreads .primg:nth-child(odd) {
            margin-right: 10px; }
          .book-page .book-container > .inner .c.book-previews .prev-in.spreads .primg:nth-child(even) {
            margin-left: 10px; }
        .book-page .book-container > .inner .c.book-previews .prev-in.pages {
          flex-direction: row; }
          .book-page .book-container > .inner .c.book-previews .prev-in.pages .primg {
            margin-right: 20px; }
        .book-page .book-container > .inner .c.book-previews .prev-in .primg {
          margin-bottom: 0 !important; }
    .book-page .book-container > .inner .c.book-previews {
      margin-right: 5px; }
    .book-page .book-container > .inner .c.book-image {
      width: 50%; }
      .book-page .book-container > .inner .c.book-image .book-gallery {
        padding: 0 20px 30px 0; }
    .book-page .book-container > .inner .c.book-info {
      width: 50%; }
  .studio-page .studio-container, .studios-page .studio-container {
    padding: 30px 0 15px 30px; }
    .studio-page .studio-container > .inner, .studios-page .studio-container > .inner {
      flex-wrap: wrap;
      overflow: auto;
      margin-right: 15px; }
      .studio-page .studio-container > .inner .splash-img, .studios-page .studio-container > .inner .splash-img {
        min-height: 200px;
        height: 30vh;
        width: 100%;
        margin: 0;
        margin-bottom: 30px; }
      .studio-page .studio-container > .inner .column.contact, .studios-page .studio-container > .inner .column.contact {
        position: relative;
        width: 35%;
        justify-content: flex-start; }
        .studio-page .studio-container > .inner .column.contact .inner, .studios-page .studio-container > .inner .column.contact .inner {
          padding-top: 40px;
          padding-right: 30px; }
          .studio-page .studio-container > .inner .column.contact .inner.fixed, .studios-page .studio-container > .inner .column.contact .inner.fixed {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            margin-bottom: 40px;
            padding-right: 15px; }
      .studio-page .studio-container > .inner .column.main, .studios-page .studio-container > .inner .column.main {
        width: 65%;
        padding-left: 15px;
        padding-right: 15px; }
        .studio-page .studio-container > .inner .column.main .main-content, .studios-page .studio-container > .inner .column.main .main-content {
          padding: 0;
          padding-bottom: 60px;
          flex-direction: column; }
          .studio-page .studio-container > .inner .column.main .main-content .main-column, .studios-page .studio-container > .inner .column.main .main-content .main-column {
            padding: 0 !important;
            width: 100%; }
      .studio-page .studio-container > .inner .column.recent-work, .studios-page .studio-container > .inner .column.recent-work {
        width: 100%;
        padding: 0 0 30px;
        margin-right: 15px; }
        .studio-page .studio-container > .inner .column.recent-work h3.latest-title, .studios-page .studio-container > .inner .column.recent-work h3.latest-title {
          position: sticky;
          top: 0;
          left: 0; }
        .studio-page .studio-container > .inner .column.recent-work .recent-publications, .studios-page .studio-container > .inner .column.recent-work .recent-publications {
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: -moz-inline-box;
          /* MOZILLA */
          display: -webkit-inline-flex;
          /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
          display: inline-flex;
          /* NEW, Spec - Firefox, Chrome, Opera */
          align-items: flex-end;
          flex: 1 1 100%; }
          .studio-page .studio-container > .inner .column.recent-work .recent-publications .book .preview-img, .studios-page .studio-container > .inner .column.recent-work .recent-publications .book .preview-img {
            height: auto;
            width: 22vw;
            margin-bottom: 0;
            margin-right: 30px; }
            .studio-page .studio-container > .inner .column.recent-work .recent-publications .book .preview-img img.preview, .studios-page .studio-container > .inner .column.recent-work .recent-publications .book .preview-img img.preview {
              max-width: 100%; }
  .about-page .about-container > .inner {
    overflow: auto; }
    .about-page .about-container > .inner .wrapper {
      display: table;
      width: 65%;
      table-layout: fixed; }
      .about-page .about-container > .inner .wrapper .column {
        width: 100% !important; }
    .about-page .about-container > .inner .column.about-intro {
      display: none; }
    .about-page .about-container > .inner .column.main .text {
      padding-left: 0; }
    .about-page .about-container > .inner .column.main .carousel {
      padding-left: 0;
      height: 40vw; }
    .about-page .about-container > .inner .column.main .tvt-link {
      display: inline-block; }
    .about-page .about-container > .inner .column.network {
      width: 35%;
      align-self: flex-start; } }

@media only screen and (max-width: 800px) {
  .lib_book-page .libbook-container {
    overflow-y: auto; }
    .lib_book-page .libbook-container .bg-right {
      display: none; }
    .lib_book-page .libbook-container .lib-inner {
      flex-direction: column;
      height: auto; }
      .lib_book-page .libbook-container .lib-inner .book_link, .lib_book-page .libbook-container .lib-inner .issuu_book {
        width: 100%; }
      .lib_book-page .libbook-container .lib-inner .book_link {
        overflow-y: hidden;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -moz-box;
        /* MOZILLA */
        display: -webkit-flex;
        /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;
        /* NEW, Spec - Firefox, Chrome, Opera */
        flex-direction: row; }
        .lib_book-page .libbook-container .lib-inner .book_link .book {
          width: 30%;
          padding-right: 15px; }
          .lib_book-page .libbook-container .lib-inner .book_link .book .preview-img {
            height: 30vw; }
        .lib_book-page .libbook-container .lib-inner .book_link .lib_wrapper {
          width: 70%;
          padding-left: 15px; }
      .lib_book-page .libbook-container .lib-inner .issuu_book {
        height: 70vw; }
  .container {
    padding: 20px; }
  .home-page .ps-animation {
    padding: 0 20px 50px; }
    .home-page .ps-animation img {
      height: auto; }
  header {
    padding-top: 30px; }
    header .site-title {
      margin-bottom: 30px; }
      header .site-title .ps {
        width: 100%;
        text-align: center;
        margin-bottom: -5px;
        margin-left: 0; }
        header .site-title .ps h1 {
          display: inline-block;
          position: relative; }
          header .site-title .ps h1 span.login a img {
            left: 2px; }
      header .site-title .studios {
        margin-left: 0;
        text-align: center;
        width: 100%; }
  .library-page .books-container .books .book .preview-img {
    width: 32vw; }
  .about-page .carousel .arrow-wrapper.arrow-right {
    right: 20px; }
  .about-page .carousel .arrow-wrapper.arrow-left {
    left: 5px; }
  .books-page .MarkupPagerNav {
    min-height: 90px; }
    .books-page .MarkupPagerNav .MarkupPagerNavPrevious {
      position: absolute;
      left: 0;
      bottom: 0; }
    .books-page .MarkupPagerNav .MarkupPagerNavNext {
      position: absolute;
      right: 0;
      bottom: 0; } }

@media only screen and (max-width: 630px) {
  .books-page header .functions {
    left: 20px;
    width: calc(100% - 40px); }
    .books-page header .functions .func {
      width: calc(50% - 40px); }
  .books-page .books.filter-open {
    padding-right: 50%; }
    .books-page .books.filter-open .book {
      width: calc(100% - 40px); }
  .books-page .books .book {
    width: calc(50% - 40px);
    margin: 20px; }
    .books-page .books .book .preview-img {
      height: 55vw; } }
@media only screen and (max-width: 500px) {
  .lib_book-page .libbook-container .lib-inner .book_link {
    flex-direction: column; }
    .lib_book-page .libbook-container .lib-inner .book_link .book, .lib_book-page .libbook-container .lib-inner .book_link .lib_wrapper {
      padding: 0;
      width: 100%; }
    .lib_book-page .libbook-container .lib-inner .book_link .book {
      width: 70%; }
      .lib_book-page .libbook-container .lib-inner .book_link .book .preview-img {
        display: none; }
      .lib_book-page .libbook-container .lib-inner .book_link .book .text {
        text-align: left; }
    .lib_book-page .libbook-container .lib-inner .book_link .js-toggle-info {
      display: block; }
    .lib_book-page .libbook-container .lib-inner .book_link .lib_wrapper .excerpt {
      display: none; }
    .lib_book-page .libbook-container .lib-inner .book_link .lib_wrapper.active .excerpt {
      display: block; }
  .lib_book-page .libbook-container .lib-inner .issuu_book {
    height: 120vw; }
  .library-page .books-container {
    bottom: 0;
    padding-bottom: 0;
    overflow-x: hidden;
    width: calc(100% - 5px);
    padding-right: 5px; }
    .library-page .books-container .books {
      flex-direction: column;
      width: 100%;
      max-height: 100%; }
      .library-page .books-container .books .book {
        max-width: 80%;
        margin: 0 10% 30px; }
        .library-page .books-container .books .book:first-of-type {
          margin-left: 10%; }
        .library-page .books-container .books .book .preview-img {
          height: auto;
          width: 32vh;
          max-width: 100%;
          margin: 0 auto 15px; }
          .library-page .books-container .books .book .preview-img.no-image {
            height: 100vw;
            max-height: 360px; }
  .about-page .about-container > .inner .column.main .carousel {
    height: 60vw; }
    .about-page .about-container > .inner .column.main .carousel .arrow-wrapper.arrow-right {
      right: 15px; }
    .about-page .about-container > .inner .column.main .carousel .arrow-wrapper.arrow-left {
      left: 0; }
  .about-page .about-container > .inner .column.main .colophon {
    display: none; }
  .about-page .about-container > .inner .column.network .colophon {
    display: inline-block; }
  @-moz-document url-prefix() {
    .about-page .former-studios {
      padding-bottom: 0;
      margin-bottom: 40px; } }
  .activity-page .activity-container .instagram a.instagram-item {
    padding: 0; }
    .activity-page .activity-container .instagram a.instagram-item.narrow {
      width: 100%; }
    .activity-page .activity-container .instagram a.instagram-item.regular {
      width: 100%; }
    .activity-page .activity-container .instagram a.instagram-item.wide {
      width: 100%; }
    .activity-page .activity-container .instagram a.instagram-item .pic {
      margin-bottom: 20px; }
  



/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  /*visibility: hidden;*/ }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

